
@{
    ViewData["Title"] = "Home Page";
}

<!-- Enlace a Google Fonts (asegúrate de agregarlo en tu etiqueta <head>) -->
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">

<div class="text-center">
    <!-- Reemplazar el párrafo con un logo grande -->
    <img src="~/images/logo-grande.png" alt="Logo Gestor Inventario ITI" class="img-fluid" style="max-width: 300px; height: auto; margin-top: 20px;" />
    <h1 class="display-4" style="font-family: 'Montserrat', sans-serif; font-weight: bold;">Gestor Inventario ITI</h1>
</div>
